/* You can add global styles to this file, and also import other style files */

.container {
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 4px;
}

.content {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}